<footer class="app-footer">
  <span><a href="https://genesisui.com">KonnectIn</a> &copy; 2018 KonnectIn.</span>
  <span class="ml-auto">Powered by <a href="https://genesisui.com">Joint Labs Pvt Ltd</a></span>
</footer>
