<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">KonnectIn</a>
  <button class="navbar-toggler d-md-down-none h-100 b-r-1 px-3" type="button" appSidebarToggler>
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- <ul class="nav navbar-nav d-md-down-none">
    <form class="form-inline px-4">
      <i class="fa fa-search"></i>
      <input class="form-control" type="text" placeholder="Search...">
    </form>
  </ul> -->
  <ul class="nav navbar-nav ml-auto">
   
   
  
    <li class="nav-item dropdown d-md-down-none" dropdown placement="bottom right">
      <a class="nav-link nav-pill avatar" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"/>
        <span class="badge badge-pill badge-danger">9</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
       
        <div class="dropdown-header text-center"><strong>Settings</strong></div>
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
        <a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments<span class="badge badge-dark">42</span></a>
        <div class="divider"></div>
        <a class="dropdown-item" href="#"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
     
  </ul>
</header>
