<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-6">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0 text-center">
          <h4 class="mb-0 ">{{users.length}}</h4>
          <p>Total Users</p>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-6">
      <div class="card text-white bg-success">
        <div class="card-body pb-0 text-center">
          <h4 class="mb-0">{{onlineUsers.length}}</h4>
          <p>Users online</p>
        </div>

      </div>
    </div>


  </div>


  <div class="row">
    <div class="col-md-12">
        <table class="table table-responsive-sm table-hover table-outline mb-0 table-striped">
          <thead class="thead-light">
            <tr>
              <th class="text-center"><i class="icon-people"></i></th>
              <th>User</th>
              <th class="text-center">Username</th>
              <th>Role</th>
              <th class="text-center">Description</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td class="text-center">
                <div class="avatar">
                  <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                  <span class="avatar-status badge-success"></span>
                </div>
              </td>
              <td>{{user.name}}</td>
              <td class="text-center">{{user.username}}</td>
              <td>Member</td>
              <td class="text-center">{{user.description}}</td>
              <td>
                <span class="badge badge-success" *ngIf="user.online == true">Online</span>
                <span class="badge badge-secondary" *ngIf="user.online == undefined || user.online == false">Offline</span>
              </td>

            </tr>
            <tr *ngIf="users != undefined  && users != null && users.length <= 0">
              <td colspan="6" class="text-center"><strong>No users registered yet.</strong></td>
            </tr>

          </tbody>

        </table>
     
      <!-- </div> -->
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>